.mbtilayout {
  width: 100vw;
  font-size: 14px;

  height: calc(var(--vh, 1vh)*100);
}

.startlayout {
  background-color: #ffea35;
  width: 100%;
  max-width: 900px;
  height: 100%;
  color: #413730;
}

.startlogo {

  font-size: 25px;
  font-weight: 700;
}

.startlogo div:nth-child(1) {
  background-color: #413730;
  color: #ffea35;
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.startlogo div:nth-child(2) {
  margin-top: -15px;
}

.startbtn {
  font-size: 17px;
  font-weight: 700;
  margin-top: 20px;
}

.qalayout {
  /* background-color: #bacee0; */
  width: 100%;
  max-width: 900px;
  height: 100%;
  overflow: hidden;

}

.ttitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  font-weight: 700;
  background-color: #bacee0;
}

.ttitle div:nth-child(1) {
  display: flex;
  flex: 1;
}

.qalist {
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.qalist::-webkit-scrollbar {
  display: none;
}

.answer {
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.answer div :nth-child(1) {
  padding: 100px;
}

.qaiteam {
  display: flex;
  flex: 1;
  margin: 10px 15px 5px 15px;
}

.profile {
  width: 40px;
  height: 40px;
  background-color: #a1b6e9;
  margin-right: 7px;
  border-radius: 15px;

}

.profile div:nth-child(1) {
  background-color: #cbd6f2;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.profile div:nth-child(2) {
  background-color: #cbd6f2;
  width: 16px;
  height: 8px;
  border-radius: 8px 8px 0px 0px;
  margin-top: 2px;

}

.question {
  margin: 20px;
  display: flex;
  flex-direction: row;
  padding-bottom: 400px;
}

.chatBox {
  padding: 7px 10px 7px 10px;
  background-color: #fff;
  margin-left: -4px;
  border-radius: 10px;
  line-height: 2;

}

.chacdk {
  margin-top: 7px;
  display: flex;
  color: #fff;
}

.answers {
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-size: 22px;
  color: #969696;
  background-color: #fff;
  margin-bottom: 20px;

}

.answer {
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 2px 2px 0px #ededed;
  border: 1px solid #ededed;

}

.qaitem {
  background-color: #bacee0;
}